@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:wght@600&family=Karla&family=Lato:wght@900&family=Montserrat&family=Open+Sans:ital,wght@1,700;1,800&display=swap");
.section-1 {
  font-family: "Lato", sans-serif;
}
.block-1 {
  display: flex;
}
.h-one {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
}
.p-texts{
  color:rgba(85, 85, 85, 1);
  margin-top: 30px;
}
.block-right {
  border-radius: 20px;
  padding: 90px 220px;
  margin-left: 40px;
  text-align: center;
  background-color: #f8f8f8;
}

.bolim-2{
    background-color: rgba(181, 0, 42, 1);
}
.bolim-2{
    display: flex;
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 20px;

}
.image{
   padding: 20px 20px;
   margin-left: 50px;
}
.h-1{
    color: white;
    font-size: 35px;
    margin-top: 25px;
}
.p-text{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.inp-1{
    width: 400px;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.50);
    border: none;
    background-color: white;
}
.inp-2{
    width: 400px;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
}
.btn{
    background-color:  rgba(181, 0, 42, 1);
    color: white;
    width: 400px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid white;
}
